body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-image: url('bg-img.webp');
    background-size: cover;
    background-position: center;
}

.container {
    /* background: white; */
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

select,
input {
    display: flex;
    
    width: 96%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 12px;
}
button{
    width: 96%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 12px;
    margin-left: 14px

}

button {
    background: #2563eb;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1e40af;
}

canvas {
    display: block;
    margin: 20px auto;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.row input[type="color"] {
    padding: 2px;
    height: 45px;
}
.footer {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 20px;
    color: #5c5c5c;
    ;
}
.footer a {
    color: #2563eb;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    /* font-style: italic; */
    /* font-weight: 700; */
    border: 1px solid #2563eb;
    padding: 5px 10px;
    border-radius: 50px;

}
ul  {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 8px;
}

@media (min-width: 400px) {
    .container {
        width: 380px;
        padding: 25px;
    }

    select,
    input {
        width: 90%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-top: 12px;
    }
    
    button {
        width: 90%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-top: 12px;
        margin-left: 14px
    }
}